#include <windows.h>
#include "resource.h"

IDD_INPUT_DIALOG DIALOGEX 0, 0, 220, 86
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Modal Dialog"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Text:", -1, 12, 14, 32, 12
    EDITTEXT IDC_INPUT_TEXT, 46, 12, 160, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 96, 54, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 152, 54, 50, 14
END
