# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.obj
*.tlog/
ipch/

# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# 생성 파일
*.asm
